#category .year {
	font-size: 32px;
	text-align: center;
}

#category .month_archive {
	position: relative;
	margin-bottom: 10px;
	margin-left: 40px;
}

#category .month {
	display: inline-block;
	font-size: 28px;
	margin-right: 10px;
	top: -5px;
	position: absolute;
}

#category .list {
	display: inline-block;
	margin-left: 40px;
}

#category .list .title {
	display: block;
	font-size: 18px;
	font-weight: bold;
}

#category .list .archive {
	display: inline-block;
	width: 175px;
}

#category .list article {
	margin-bottom: 10px;
}
