/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(//themes.googleusercontent.com/static/fonts/ptserif/v4/sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url(//themes.googleusercontent.com/static/fonts/ptserif/v4/QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url(//themes.googleusercontent.com/static/fonts/ptserif/v4/03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(//themes.googleusercontent.com/static/fonts/ptserif/v4/Foydq9xJp--nfYIx2TBz9QFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

@font-face {
    font-family: ITCEDSCR;
    src: url(fonts/ITCEDSCR.ttf) format('truetype');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Serif', '微軟正黑體', '儷黑Pro', 'Ubuntu', Arial;
    background: #eee;
    font-size: 110%;
}

#header,
#nav,
#main,
#footer {
    min-width: 930px;
}

#header {
    overflow: hidden;
    text-align: center;
    background: #fff;
}

#header h1 {
    margin: -15px 0 -45px 0;
    font-family: ITCEDSCR;
    font-size: 800%;
    font-weight: normal;
}

#header h2 {
    display: block;
    margin: 0px auto 20px auto;
    padding-top: 1px;
    width: 600px;
    font-size: 80%;
    font-weight: normal;
    color: #999;
    border-top: 1px solid #ccc;
    letter-spacing: 3px;
}

#nav {
    text-align: center;
    background: #333;
    box-shadow: 0px 0px 10px #bbb;
    -moz-box-shadow: 0px 0px 10px #bbb;
    -webkit-box-shadow: 0px 0px 10px #bbb;
}

#nav a {
    display: inline-block;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}

#nav a,
#nav a:visited {
    color: #ccc;
}

#nav a:hover {
    color: #555;
}

#nav .left {
    display: inline-block;
    text-align: right;
    width: 350px;
}

#nav .right {
    display: inline-block;
    text-align: left;
    width: 350px;
}

#nav .home {
    display: inline-block;
    width: 200px;
}

#nav .arrow {
    position: absolute;
    z-index: 400;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 100px 0 100px;
    border-color: #333 transparent transparent transparent;
}

#main {
    position: relative;
    margin: 50px auto 0 auto;
    max-width: 1350px;
}

#footer {
    padding-top: 25px;
    height: 50px;
    text-align: center;
}

#footer span {
    font-size: 90%;
    color: #666;
}

#footer p {
    padding: 0;
    margin: 0;
    font-size: 80%;
    color: #bbb;
}

#container {
    padding-left: 225px;
    margin-right: 225px;
    min-width: 705px;
    max-width: 1125px;
}

#container .title {
    margin-top: 0;
    text-align: center;
}

#container .content h2 {
    border: 1px solid;
    border-color: transparent transparent #ccc transparent;
}

#container .content ul {
    margin-top: 0;
}

#container .content img {
    padding: 5px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#container .content th,
#container .content td {
    padding: 0 5px;
}

#container .content blockquote {
    margin: 15px 25px;
    padding: 0 25px;
    font-style: italic;
    color: #333;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

#container .content code {
    padding: 1px 5px;
    margin: 0 3px;
    font-family: 'monospace', 'Courier';
    font-size: 80%;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#container .content > pre {
    padding: 20px 10px 25px 60px;
    color: #839496;
    background: #222;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#container .content > pre > code {
    margin: 0;
    padding: 0;
    font-family: 'monospace', 'Courier';
    background: none;
    border: none;
    border-radius: none;
    -o-border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

#container .viewer {
    counter-reset: line-counter;
    position: relative;
    padding: 20px 10px 20px 60px;
    color: #839496;
    background: #222;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#container .viewer .code {
    overflow-y: hidden;
    overflow-x: auto;
}

#container .viewer .code::-webkit-scrollbar {
    height: 12px;
    background: rgba(0,0,0,0.15)
}

#container .viewer .code::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0,0,0,0.15);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#container .viewer td {
    padding: 0 !important;
}

#container .viewer pre {
    margin: 0 0 5px 0 !important;
    white-space: pre;
}

#container .viewer pre > code {
    margin: 0;
    padding: 0;
    font-family: 'monospace', 'Courier';
    background: none;
    border: none;
    border-radius: none;
    -o-border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

#container .viewer .line {
    position: absolute;
    padding-right: 10px;
    width: 50px;
    top: 21px;
    bottom: 20px;
    left: 0;
    font-family: 'monospace', 'Courier';
    text-align: right;
    color: #555;
    background: #222;
    border-right: #444 solid 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container .viewer .line > span:before {
    display: block;
    counter-increment: line-counter;
    content: counter(line-counter);
}

#container .post_block {
    position: relative;
    padding: 25px 50px 20px 50px;
    margin-bottom: 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 10px #bbb;
    -moz-box-shadow: 0px 0px 10px #bbb;
    -webkit-box-shadow: 0px 0px 10px #bbb;
}

#container_page .social_tool > .twitter,
#container_article .social_tool > .twitter {
    padding-top: 3px;
}

#container_page .social_tool > .google,
#container_article .social_tool > .google {
    margin: 10px 0 -5px 0;
}

#container_page .info,
#container_article .info {
    position: absolute;
    padding: 15px;
    width: 170px;
    top: -1px;
    left: -196px;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 10px #bbb;
    -moz-box-shadow: 0px 0px 10px #bbb;
    -webkit-box-shadow: 0px 0px 10px #bbb;
}

#container_page .more {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#container_tag .list,
#container_archive .list {
    margin-bottom: 20px;
}

#container_tag .list section > h1,
#container_archive .list section > h1 {
    margin-bottom: 5px;
    font-size: 150%;
    border: 1px solid;
    border-color: transparent transparent #ccc transparent;
}

#container_tag .list section > span,
#container_archive .list section > span {
    margin-right: 10px;
}

#disqus_thread {
    margin: -25px 0 50px 0;
    padding: 20px 50px 0 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 10px #bbb;
    -moz-box-shadow: 0px 0px 10px #bbb;
    -webkit-box-shadow: 0px 0px 10px #bbb;
}

#paging {
    margin: -40px 0 40px 0;
    position: relative;
}

#paging .count {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 90%;
    color: #666;
}

#paging .new {
    display: inline-block;
    float: left;
}

#paging .old {
    display: inline-block;
    float: right;
}

#side {
    position: absolute;
    width: 185px;
    top: 0;
    right: 15px;
}

#side > div {
    margin-bottom: 15px;
}

#side .title {
    font-size: 175%;
}

#side .content a {
    display: block;
}

#side_search {
    position: relative;
}

#side_search i {
    position: absolute;
    line-height: 36px;
    left: 9px;
    color: #ccc;
}

#side_search input[type=text] {
    padding: 5px 5px 5px 32px;
    width: 185px;
    font-family: 'PT Serif', '微軟正黑體', '儷黑Pro', 'Ubuntu', Arial;
    border: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#side_search input[type=submit] {
    display: none;
}

#side_about .avatar {
    padding: 5px;
    width: 185px;
    height: 185px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#side_about .name {
    margin-top: 10px;
    font-size: 110%;
}

#side_about .says {
    margin: -15px 0 10px 0;
    font-size: 90%;
    color: #666;
}

#side_about .social_icon {
    font-size: 125%;
}

#side_about .social_icon a {
    display: inline-block;
}
