#archive .month_archive {
	position: relative;
	margin-bottom: 10px;
}

#archive .month {
	display: inline-block;
	font-size: 28px;
	margin-right: 10px;
	top: -5px;
	position: absolute;
}

#archive .list {
	display: inline-block;
	margin-left: 40px;
}

#archive .list .title {
	display: block;
	font-size: 18px;
	font-weight: bold;
}

#archive .list .category {
	display: inline-block;
	width: 175px;
}

#archive .list article {
	margin-bottom: 10px;
}
